/*-------------background image--------------*/

body {
  background: url('../images/Star-Wars.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: white;
}

/*---------------Main content------------------*/

h1 {
    font-family: 'Roboto',sans-serif;
    font-size: 300%;
    margin-right: 15%;
    text-align: right;
}

h2 {
    font-family: 'Bungee Inline', cursive;
    margin-left: 1%;
}

button {
    margin-left: 1%;
}

/*------------------Characters-----------*/

